{% liquid
  if context.current_user.id
    assign superadmins = context.constants.superadmins | split: ','
    if superadmins contains context.current_user.email
      include 'theme/futurelife/layout/headerAdmin'
    else
      include 'theme/futurelife/layout/header'
    endif
  else
    include 'theme/futurelife/layout/header'
  endif
%}


<div class="main-content">
    {{content_for_layout}}
</div>

{% include 'theme/futurelife/layout/footer' %}
{% include 'theme/futurelife/layout/scripts' %}
