<div class="main-content">
  <div class="space-padding-tb-10 bg-default no-space-row page-404">
      <div class="container">
              <div class="col-md-12">
                  <div class="title-text title-about space-padding-tb-10">
                      <h1 class="space-10">404</h1>
                      <h3>page not found</h3>
                  </div>
                  <!-- End title-about -->
              </div>
      </div>
  </div>
  <!-- End content-Abot -->
</div>