<div class="main-content my-account">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Login</li>
    </ul>
    <div id="primary" class="col-xs-12 col-md-12" style="margin: 3em;">
        <div class="title-product">
            <h3>Login</h3>
        </div>
        <!-- End title  -->
        <div class="contact-form">
          <form action="/sessions/create" method="post" class="form-horizontal">
            {% render 'authenticity_token', context: context % %}
            <div class="col-md-12">
                <div class="form-group">
                    <label class=" control-label" for="email">E-mail</label>
                    <input name="user[email]" type="email" id="email" value="{{ object.email | raw_escape_string }}" class="form-control" placeholder="Enter your e-mail...">
                    {% render 'theme/futurelife/field_error', errors: object.errors.email %}
                </div>
                <div class="form-group">
                    <label class=" control-label" for="password">Password</label>
                    <input name="user[password]" type="password" id="password" value="{{ object.password | raw_escape_string }}" class="form-control" placeholder="Enter your password...">
                    {% render 'theme/futurelife/field_error', errors: object.errors.password %}
                </div>
                <button type="submit" class="btn link-button">Login</button>
            </div>
          </form>
        </div>
    </div>
    </div>
    <!-- End conainer -->
  </div>
  <!-- End MainContent -->
