<div class="main-content my-account">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Register</li>
    </ul>
    <div id="primary" class="col-xs-12 col-md-12" style="margin: 3em;">
        <div class="title-product">
            <h3>Create an Account</h3>
        </div>
        <!-- End title  -->
        <div class="contact-form">
          {% include 'theme/futurelife/users/form' %}
        </div>
    </div>
    </div>
    <!-- End conainer -->
  </div>
  <!-- End MainContent -->
