<div class="main-content">
  <div class="container">
          <div class="col-md-12">
              <div class="title-text title-about space-padding-tb-30">
                  <h2 class="space-40">Welcome User ('{{ profile.email | default: profile.email }}')</h2>
                  <p class="space-50">The page are underconstruction, if you like you can return to our homepage.</p>
                  <p><a class="btn link-button space-20" href="/" title="Return Home">Return Home</a></p>
              </div>
              <!-- End title-about -->
          </div>
  </div>
</div>