<div class="main-content my-account">
  <div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Blog</li>
    </ul>
    <div id="primary" class="col-xs-12 col-md-12">
        <div class="title-product">
            <h3>Edit Blog</h3>
        </div>
        <!-- End title  -->
        {% include 'theme/futurelife/dashboard/blogs/form', object: object %}
    </div>
    <!-- End Primary -->
    </div>
    <!-- End conainer -->
  </div>
  <!-- End MainContent -->